
<!-- <p>Find me in app/views/coaching/answer.html.erb</p> -->

<h1><%= @coach_answer %></h1>
<p>This is your coach's answer</p>

<h1><%= @query %></h1>
<p>This is your question</p>

<%= link_to 'Ask another QUESTION!', ask_path %>